# General files
*~
.DS_Store
build/

# Development stuff
platforms/
plugins/
node_modules/
coverage/
npm-debug.log
*.sublime-workspace
*.pyc
.vagrant
.idea
.vscode
npm-debug.*
/target/
.classpath
.project
.settings
